{% extends "base.html" %}

{% block content %}
{#{% for message in get_flashed_messages() %}#}
{#    <div class="flash">{{ message }}</div>#}
{#  {% endfor %}#}
    <div class="container justify-content-center">
        <div class="jumbotron" >
            <h1>Current Goals</h1>
        </div>
        {% if results %}
            <ol class="list-group">
            {% for result in results %}
                <a href="{{ url_for('goals.goal', goalid=result.id)}}" class="list-group-item list-group-item-action ">
                   <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ result.title }} {% if result.private_goal %} <img class="private" src="{{ url_for('static', filename='private.png') }}" alt="private post" /> {% endif %}</h5>
                        <small>{{ result.created_date }}</small>
                    </div>
                    <p class="mb-1">{{ result.description }}</p>
                    <small>{{ result.tags }}</small>
                </a>
            {% endfor %}
        {% else %}
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">You have finished all your goals!</h5>
            </div>
        {% endif %}
        </ol>
    </div>
{% endblock %}
