<head>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>


<body>

 <div class="container"><br>
      <center>
        <h2>Login</h2>
      </center>
    </div>

 <div class="container">
  <div class="flash-container">
    <div class="flash">
      {% for message in get_flashed_messages() %}
        <div class="alert alert-info alert-dismissible fade show">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

    <div class=container"><br>
    <div class="row align-items-center justify-content-center">
    <div class="col-md-3">
      <form action="{{ url_for('accounts.login') }}" method="post">
        {{ form.csrf }}
        <div class="form-group">

	        Email: {{ form.email(class_="form-control") }}
	        <br>
	        Password: {{ form.password(class_="form-control") }}
	    </div>
            <input type="submit" value="Login" class="btn btn-primary"/>
            {{ form.csrf_token }}
      </form>

               <a href="{{ url_for('accounts.register') }}">No Account? Register Here!</a>
      <br>
        </div>
    <br>
    </div>
    </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  </body>















<!--{% block title %} Login Here {% endblock %}-->

<!--<html>-->
    <!--<head>-->
        <!--<title>Login Page</title>-->
    <!--</head>-->
    <!--<body>-->
<!--{#    {% for message in get_flashed_messages() %}#}-->
<!--{#    <div class="flash">{{ message }}</div>#}-->
<!--{#  {% endfor %}#}-->
        <!--<form action="{{ url_for('accounts.login') }}" method="post">-->
            <!--Email: {{ form.email }}-->
            <!--Password: {{ form.password }}-->
            <!--<input type="submit" value="Login">-->
            <!--{{ form.csrf_token }}-->
        <!--</form>-->
        <!--<a href="{{ url_for('accounts.register') }}">No Account? Register Here!</a>-->
    <!--</body>-->
<!--</html>-->
