{% extends "base.html" %}

{% block title %}Forums{% endblock %}

{% block extralinks %}
    <link href="{{url_for('static', filename='forum.css')}}" rel="stylesheet" type="text/css" />
    <script src="{{url_for('static', filename='forum.js')}}"></script>

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <script src="{{ url_for('static', filename='moment.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container justify-content-center" id="forumnav">
        <div class="top-bar">
            <a href="{{ url_for('forum.home') }}" class="link"><h1 class="Page-title">Goal Keeper #Forum</h1></a>
        </div>
    </div>

    <hr>

    <div class="container justify-content-center">
        <form class="modal fade show" id="new-post" method="POST">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content" id="new-post-modal-content">
                    <div class="modal-header">
                        <div class="header-line"">
                            Reply
                            <i data-dismiss="modal" class="material-icons" onclick="reset_editor()">close</i>
                        </div>
                    </div>
                    
                    <div class="modal-body">
                        <input name="post" type="hidden">
                        <div id="editor"></div>
                    </div>
                    
                    <div class="modal-footer">
                            <input type="submit" value="Post" class="btn btn-primary">
                    </div>
    
                    <input name="replyto" type="hidden">
                </div>
            </div>
        </form>

        <div class="post-top-bar">
            <h3 class="post-title">{{ post.title }}</h3>
            <div class="bottom-line">
                {% for tag in post.tags %}
                    <a class="badge badge-pill tag">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>

        <hr>

        <div class="post-data">
            <div class="info-top">
                Posted by: {{ post.user }}
                <div class="post-creation">
                    Created: <script>document.write(moment("{{ post.created }}").format('LLL'));</script>
                </div>
            </div>
            <div class="post">
                {{ post.data|safe }}
            </div>
            <div class="info-bottom">
                Last activity: <script>document.write(moment("{{ post.activity }}").fromNow());</script>
                <span class="new-topic" data-toggle="modal" data-target="#new-post" onclick="set_reply({{ post.id }})" style="font-style: normal;">
                    <div class="new-topic-icon">
                        <i class="material-icons">reply</i>
                    </div>
                    Reply
                </span>
            </div>
        </div>

        <hr>

        <div class="replies">
            {% for reply in replies recursive %}
                <div style="margin-left: {{ 1 * (loop.depth - 1) }}em;">
                    {{ reply.content|safe }}

                    <div class="info-top">
                        {{ reply.user }} - <script>document.write(moment("{{ reply.created }}").fromNow());</script>
                    </div>
                    <div class="btn-box">
                        <span class="reply-btn" data-toggle="modal" data-target="#new-post" onclick="set_reply({{ reply.id }})">
                            <div class="new-topic-icon">
                                <i class="material-icons">reply</i>
                            </div>
                            Reply
                        </span>
                    </div>

                    <div class="reply">
                        {{ loop(reply.replies) }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}